@media(max-width: 1000px){
    .conteiner {
        padding: 0px 20px
    }

    main .conteiner-main div{
        margin:auto;
    }

    main .conteiner-main img, .conteiner-title img{
        display: none;
    }

    main .conteiner-main h2{
        text-align: center;
    }

    h2{
        margin-left: 25px;
        margin-right: 25px;
    }

    div h3{
        margin-left: 25px;
        margin-right: 25px;
    }

    form {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    input{
        margin: 12px;
    }

    .contact{
        flex-direction: column;
    }

    h2, h3{
        text-align: center;
    }

    .conteiner-title{
        margin-bottom: 20px;
    }

    .contact input:first-child{
        margin: 0px 12px 12px;
    }

    .conteiner-footer{
        width: 90%;
    }
}

@media(max-width: 630px){
    .menu-button-conteiner{
        display: flex;
    }

    .menu{
        position: absolute;
        margin-top: 30px;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        left: 100%;
        transform: translateX(100vw);
        transition: 0.5s ease tranform;
    }

    .menu li{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
        color: white;
        background-color: #0080ed;
        border-radius: 5px;
    }

    .menu li:not(:last-child){
        border-bottom: 1px solid white;
    }

    .menu li a {
        flex: 1;
        text-align: center;
    }

    label{
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
    }

    label span{
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 30px;
        transition: 0.25 ease-in-out;
    }

    label span:nth-child(1){
        top: 0;
    }

    label span:nth-child(2){
        top: 8px;
    }

    label span:nth-child(3){
        top: 16px;
    }

    #checkbox-menu:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top: 8px;
    }

    #checkbox-menu:checked + label span:nth-child(2){
        opacity: 0;
    }

    #checkbox-menu:checked + label span:nth-child(3){
        transform: rotate(45deg);
        top: 8px;
    }

    nav .menu{
        width: 100%;
    }

    #checkbox-menu:checked~nav .menu{
        transform: translateX(-100vw);
        transition: 0.5s ease transform;
    }

    .contact textarea{
        width: 90%;
    }

    form input, form select{
        width: 90%;
    }

    form select option{
        width: 50px;
    }

    main .conteiner-main{
        margin-top: 50px;
    }

    main{
        margin-bottom: 50px;
    }
}