@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body{
    height: 100vh;
    font-family: "Source Sans Pro", 'Times New Roman';
    text-rendering: optimizeLegibility;   /* pra fobte nao ficar serrilhada*/
    /* -webkit-font-smoothing: antialiazed */
}

header{
    background-color: #0080ed;
    margin-bottom: 0px;
}

header .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;    /*para tirar os boletpoints */
}

header nav ul li a{
    text-decoration: none;          /* tirar o underline*/
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover{
    background-color: rgba(255,255,255,0.15);
}

header .conteiner img{
    height: 60px;
}

#checkbox-menu{
    display: none;
}

/* main */
main{
    /* margin-bottom: 50px; */
    height: calc(100vh - 80px);
    display: flex;
    
}

main .conteiner-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto 0px auto;
}

h2{
    color: rgb(0,0,0);
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
}

h3{
    color: rgb(131,131,131);
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0px;
}

form input, form select{
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid #0080ed
}

form [type="submit"]{
    background-color: #0080ed;
    color: white;
    width: 150px;
    padding-left: 0;
    font-size: 16px;
    height: 40px;  
}

form [type="submit"]:hover {
    cursor: pointer;
    background-color: rgba(0,128,237,0.75);
    transform: translateY(-2px);
}

.selecao:hover{
    border: 4px solid #0363b6
}

main .conteiner-main img{
    width: 600px;
}